h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  @extend %heading;

  overflow-wrap: normal;
  font-family: $font-family-heading;
  font-weight: inherit;
}
h1,
.h1,
.display-1 {
  font-size: 3.5rem;
  line-height: 4.025rem;
  letter-spacing: -0.02em;
  @include media-breakpoint-up(lg) {
    font-size: 5.5rem;
    line-height: 6.324rem;
  }
}
h2,
.h2 {
  font-size: 2.8rem;
  line-height: 3.22rem;
  letter-spacing: -0.02em;
  @include media-breakpoint-up(lg) {
    font-size: 4.4rem;
    line-height: 5.06rem;
  }
}
h3,
.h3 {
  font-size: 2.4rem;
  line-height: 2.76rem;
  letter-spacing: -0.02em;
  @include media-breakpoint-up(lg) {
    font-size: 3.5rem;
    line-height: 4.025rem;
  }
}
h4,
.h4 {
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: -0.02em;
  @include media-breakpoint-up(lg) {
    font-size: 2.8rem;
    line-height: 3.22rem;
  }
}
h5,
.h5 {
  font-size: 1.8rem;
  line-height: 2rem;
  @include media-breakpoint-up(lg) {
    font-size: 2.3rem;
    line-height: 2.8rem;
  }
}
h6,
.h6 {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.936rem;
  text-transform: uppercase;
  font-weight: $font-weight-semibold;
}
body {
  @extend %body-typo;

  font-size: 1.6rem;
  line-height: 2.4rem;

  @include media-breakpoint-up(lg) {
    font-size: 1.8rem;
    line-height: 2.7rem;
  }
}

/* utility classes */

.caption__text {
  font-size: 1.4rem;
  line-height: 2.1rem;
  font-weight: 500;
}
.body-text__l {
  font-size: 2rem;
  line-height: 3rem;
  @include media-breakpoint-up(lg) {
    font-size: 2.3rem;
    line-height: 3.45rem;
  }
}
.body-text__xl {
  font-size: 2.3rem;
  line-height: 3.22rem;
  @include media-breakpoint-up(lg) {
    font-size: 2.8rem;
    line-height: 3.92rem;
  }
}

%body-typo {
  font-family: $font-family-body;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  @include media-breakpoint-up(lg) {
    font-size: 1.8rem;
    line-height: 2.7rem;
  }
}
