h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  @extend %heading;

  overflow-wrap: normal;
  font-family: $font-family-heading;
  font-weight: inherit;
}
h1,
.h1,
.display-1 {
  font-size: 3.5rem;
  line-height: 4.025rem;
  @include media-breakpoint-up(lg) {
    font-size: 5.5rem;
    line-height: 6.324rem;
  }
}
h2,
.h2 {
  font-size: 4rem;
  line-height: 4.4rem;
  @include media-breakpoint-up(lg) {
    font-size: 4.4rem;
    line-height: 5.06rem;
  }
}
h3,
.h3 {
  font-size: 2.8rem;
  line-height: 3rem;
  @include media-breakpoint-up(lg) {
    font-size: 3.5rem;
    line-height: 4.025rem;
  }
}
h4,
.h4 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  @include media-breakpoint-up(lg) {
    font-size: 2.8rem;
    line-height: 3.23rem;
  }
}
h5,
.h5 {
  font-size: 1.8rem;
  line-height: 2rem;

  @include media-breakpoint-up(lg) {
    font-size: 2.3rem;
    line-height: 2.8rem;
  }
}
h6,
.h6 {
  font-size: 1.6rem;
  letter-spacing: 0.15rem;
  line-height: 1.936rem;
  text-transform: uppercase;
  font-weight: $font-weight-semibold;
}
// h5,
// .h5,
// h6,
// .h6 {
//   font-weight: $font-weight-normal;
// }
// h5,
// .h5,
// .body-1,
// .btn.dropdown-toggle {
//   font-size: 2rem;
//   line-height: 2.5rem;

//   @include media-breakpoint-up(lg) {
//     font-size: 2.5rem;
//     line-height: 3rem;
//   }
// }
// .body-1,
// .btn.dropdown-toggle {
//   @include media-breakpoint-down(sm) {
//     font-size: 1.8rem;
//     line-height: 2.4rem;
//   }
// }
// h6,
// .h6 {
//   font-size: 1.8rem;
//   line-height: 2rem;

//   @include media-breakpoint-up(lg) {
//     font-size: 2.2rem;
//     line-height: 2.4rem;
//   }
// }
body {
  @extend %body-typo;

  font-size: 1.6rem;
  line-height: 2.2rem;

  @include media-breakpoint-up(md) {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 2rem;
    line-height: 3rem;
  }
}
// }
// .eyebrow {
//   font-size: 1.4rem;
//   line-height: 1;

//   @include media-breakpoint-up(lg) {
//     font-size: 1.6rem;
//   }
// }
// .quote {
//   font-size: 3.2rem;
//   line-height: 4rem;
//   font-weight: $font-weight-light;

//   @include media-breakpoint-up(lg) {
//     font-size: 4.6rem;
//     line-height: 5.6rem;
//   }
// }
// .caption {
//   font-size: 1.2rem;
//   line-height: 1.6rem;
//   font-family: $font-family-base;
//   font-style: italic;
//   font-weight: $font-weight-normal;

//   @include media-breakpoint-up(lg) {
//     font-size: 1.4rem;
//     line-height: 1.8rem;
//   }
// }

/* utility classes */
.caption__text {
  font-size: 1.4rem;
  line-height: 2.1rem;

  @include media-breakpoint-up(lg) {
    line-height: 2.1rem;
  }
}
.body-text__l {
  font-size: 2rem;
  line-height: 3rem;
  @include media-breakpoint-up(lg) {
    line-height: 3.45rem;
  }
}
.body-text__xl {
  font-size: 2.3rem;
  line-height: 3.22rem;
  @include media-breakpoint-up(lg) {
    line-height: 3.92rem;
  }
}

%body-typo {
  font-family: $font-family-body;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  @include media-breakpoint-up(lg) {
    font-size: 1.8rem;
    line-height: 2.7rem;
  }
}
