// eg. @include disable-button($color-white, $dark-grey);

@mixin disable-button($border-color: null, $color: null, $background-color: null) {
  border-color: $border-color;
  color: $color;
  background-color: $background-color;
  cursor: not-allowed;
  &:hover,
  &:active {
    border-color: $border-color;
    color: $color;
    background-color: $background-color;
    cursor: not-allowed;
  }
}
