// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import './global/path';
@import './global/fonts';
@import './../../node_modules/bootstrap/scss/functions';

// 2. Include any default variable overrides here
@import './variables';

// 3. Include remainder of required Bootstrap stylesheets
// @import '../../node_modules/bootstrap/scss/variables';
@import './../../node_modules/bootstrap/scss/variables';
@import '~bootstrap/scss/maps';

// 4. Include remainder of required parts
// @import 'bootstrap/scss/maps';
@import './../../node_modules/bootstrap/scss/mixins';
@import 'mixins/mixins';
@import './../../node_modules/bootstrap/scss/root';

// 5. Optionally include any other parts as needed
@import './../../node_modules/bootstrap/scss/utilities';
@import './../../node_modules/bootstrap/scss/reboot';
@import './../../node_modules/bootstrap/scss/type';
@import './../../node_modules/bootstrap/scss/images';
@import './../../node_modules/bootstrap/scss/containers';
@import './../../node_modules/bootstrap/scss/grid';
@import './../../node_modules/bootstrap/scss/helpers';
@import './../../node_modules/bootstrap/scss/list-group';
@import './../../node_modules/bootstrap/scss/dropdown';
@import './../../node_modules/bootstrap/scss/forms';
@import './../../node_modules/bootstrap/scss/buttons';

@import 'vendors/icons/icons.scss';

//6. adding Custom Global Functions
@import 'base/global-vars';
@import 'base/grids';

// 8. Utilities
@import 'utilities/helper';
@import 'utilities/placeholders';
@import 'utilities/config';
@import 'utilities/typo';

// 7 . Common Modules / Components
@import './components';

// 8. Utitlities Override
/* stylelint-disable */
$utilities: map-merge(
  $utilities,
  (
    'cursor': (
      property: cursor,
      class: cursor,
      responsive: true,
      values: auto pointer grab,
    ),
  )
);

// 9 . Custom Utilities
@import './utilities';

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import './../../node_modules/bootstrap/scss/utilities/api';

// Don't Add anything below this.
